.homeWrapper{
    .bannerBox{
        background-image: linear-gradient(to right, #3d80008a, #e29e20);
        width: 100%;
    }
    .bannerImg {
        margin: 0 auto;
    }
    .recommendBox{
        height: 570px;
        background-color: #ffffff;
        margin: 30px auto;
        .recommendCardWrapper {
            float: left;
            display: block;
            .recommendCard{
                width: 80%;
                height: 230px;
                // height: 80%;
                margin: 15px auto;
            }
        }
    }
    .newAlbumBox{
        background-color: #ffffff;
        margin: 30px auto;
        height: 340px;
        .newAlbumWrapper {
            float: left;
            .newAlbumCard{
                width: 80%;
                height: 230px;
                margin: 15px auto;
            }
        }
    }
    .rankListBox{
        background-color: #ffffff;
        margin: 30px auto;
        height: 680px;
    }
}

.ant-card-body{
    padding: 12px;
}

.homeWrapper button{
    margin: 0 auto;
}