.footerWrapper{
    width: 100vw;
    min-width: 1240px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-top: 1px solid #d3d3d3;
    span{
        color: #777777;
        font-size: 13px;
        margin: 15px auto;
    }
}