.footerWrapper{
    width: 100%;
    height: 50px;
    background-color: dimgray;
    span{
        color: #fff;
        font-size: 13px;
        margin: 0 auto;
        display: block;
        width: 200px;
    }
}